.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiContainer-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.signin {
  margin-top: 15px;
  margin-bottom: 40px;
}

.MuiTextField-root {
  width: 350px;
}

.MuiInputBase-root {
  margin-bottom: 20px;
}

.MuiCheckbox {
  margin-bottom: 100px;
}

.MuiFormControlLabel-root {
  align-items: left;
  position: left;
}

.MuiGrid-root {
  margin-bottom: 20px;
}

.MuiSvgIcon-colorAction {
  color: rgb(63, 81, 181);
}

.MuiTypography-root {
  margin: 20px;
}
